@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {box-sizing: border-box;} 

html{
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    margin: 0;
    background-color: rgb(30, 30, 30);
    
}

h1 {font-size: 3.5em;}

h2 {font-size: 2.7em;}

h3 {font-size: 2em;}

p {font-size: 1.25em;}


/* Asegurarnos de que el contenedor del logo tenga una posición relativa */
/* style.css */

/* Asegurarnos de que el contenedor del logo tenga una posición relativa */
.container {
    position: relative;
    background-color: transparent;
}

/* Estilos para el logo */
.logo {
    /* Ajustar el tamaño del logo */
    width: 130px; /* Cambia el valor a lo que consideres adecuado */
    height: auto; /* La altura se ajustará proporcionalmente al ancho para mantener la relación de aspecto */
}

/* Estilos para el menú de navegación */
nav {
    /* Alinear el menú a la derecha y bajarlo un poco */
    position: absolute;
    top: 35px; /* Ajusta el valor según sea necesario */
    right: 40px;
    background-color: transparent;
}

header {
    background-color: white;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.color-acento{ color: rgb(39, 37, 37);}

header a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button {
    font-size: 1.4em;
    font-weight: lighter;
    padding: 10px 20px;
    border-radius: 6.5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
}

button:hover{
    cursor: pointer;
    background-color: rgba(153, 154, 155, 0.801);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 92vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    font-size: 4em;
}

.container{
    max-width: 1400px;
    margin: auto;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.6)
    )
    ,url(img/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

#about .container{
    text-align: center;
    top: -280px;
    padding: 200px 12px;
}

#nuestra-carta {
    margin-bottom: 0;
    height: 100vh;
    color: white;
    background-color: rgb(30,30,30);
    text-align: center;
    height: 100vh;
}

#nuestra-carta .container{
    padding: 100px 0px;
}

#nuestra-carta h2{
    font-size: 3.2em;
}


#nuestra-carta .menu{
    padding: 12.5px;
    margin: 12px;
    border-radius: 15px;
}

.menu {
    
}

.menu:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(img/drinks.jpg);
        background-position: -12ch;
        background-size: cover;
    }
    
    .menu:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.5)
            )
            ,url(img/monta.png);
            background-position: center center;
            background-size: cover;
        }
        
        .menu:nth-child(3){
            background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    )
    ,url(img/salad.jpg);
    background-position: bottom;
    background-size: cover;
}

.menu:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
        )
        ,url(img/montaditos.png);
        background-position: center center;
        background-size: cover;
    }
    
    .menu:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.5)
    )
    ,url(img/plato.jpg);
    background-position: center center;
    background-size: cover;
}

.menu:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    )
    ,url(img/postre.jpg);
    background-position: center center;
    background-size: cover;
}

.carta-1{
    background-color: rgb(30,30,30);
}

.button {
    appearance: none;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 0.25em;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 1000;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.555);
    }
  }
  

.details-modal {
    background: #ffffffef;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 30%;
    transform: translate(60%, -50%);
    width: 30em;
    text-align: center;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
  

  
    .details-modal-close {
      align-items: center;
      color: #111827;
      display: flex;
      height: 4.5em;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 4.5em;
  
      svg {
        display: block;
      }
    }

    .details-modal-title {
      color: #000000;
      padding: 1.5em 2em;
      font-weight: bold;
      pointer-events: all;
      position: relative;
      width: calc(100% - 4.5em);
  
      h1 {
        font-size: 1.25rem;
        font-weight: 900;
        line-height: normal;
      }
    }
  

    .details-modal-content {
      border-top: 1px solid #e0e0e0;
      padding: 2em;
      pointer-events: all;
      overflow: auto;
    }
  }
  

  .details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(#0f172a, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  
    details[open] & {
      pointer-events: all;
      opacity: 0.5;
    }
  }

  details {
    summary {
      list-style: none;
        
      &:focus {
        outline: none;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
  code {
    line-height: 100%;
    background-color: #000000;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: 2px;
  }
  
