@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {box-sizing: border-box;} 

html{
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    margin: 0;
    background-color: rgb(30, 30, 30);
    
}

h1 {font-size: 3.5em;}

h2 {font-size: 2.7em;}

h3 {font-size: 2em;}

p {font-size: 1.25em;}

ul {list-style: none;}

/* Asegurarnos de que el contenedor del logo tenga una posición relativa */
/* style.css */

/* Asegurarnos de que el contenedor del logo tenga una posición relativa */
.container {
    position: relative;
    background-color: transparent;
}

/* Estilos para el logo */
.logo {
    /* Ajustar el tamaño del logo */
    width: 130px; /* Cambia el valor a lo que consideres adecuado */
    height: auto; /* La altura se ajustará proporcionalmente al ancho para mantener la relación de aspecto */
}

/* Estilos para el menú de navegación */
nav {
    /* Alinear el menú a la derecha y bajarlo un poco */
    position: absolute;
    top: 35px; /* Ajusta el valor según sea necesario */
    right: 40px;
    background-color: transparent;
}

header {
    background-color: white;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.color-acento{ color: rgb(39, 37, 37);}

header a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button {
    font-size: 1.4em;
    font-weight: lighter;
    padding: 10px 20px;
    border-radius: 6.5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
}

button:hover{
    cursor: pointer;
    background-color: rgba(153, 154, 155, 0.801);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 92vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    font-size: 4em;
}

.container{
    max-width: 1400px;
    margin: auto;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.6)
    )
    ,url(img/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

#about .container{
    text-align: center;
    top: -80px;
    padding: 200px 12px;
}

#nuestra-carta {
    margin-bottom: 0;
    height: 100vh;
    color: white;
    background-color: rgb(30,30,30);
    text-align: center;
    height: 100vh;
}

#nuestra-carta .container{
    padding: 100px 0px;
}

#nuestra-carta h2{
    font-size: 3.2em;
}

#nuestra-carta p{
    display: none;
}

#nuestra-carta .menu{
    padding: 12.5px;
    margin: 12px;
    border-radius: 15px;
}

.menu {
    
}

.menu:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url(img/drinks.jpg);
        background-position: -12ch;
        background-size: cover;
    }
    
    .menu:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.5)
            )
            ,url(img/monta.png);
            background-position: center center;
            background-size: cover;
        }
        
        .menu:nth-child(3){
            background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    )
    ,url(img/salad.jpg);
    background-position: bottom;
    background-size: cover;
}

.menu:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
        )
        ,url(img/montaditos.png);
        background-position: center center;
        background-size: cover;
    }
    
    .menu:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.5)
    )
    ,url(img/plato.jpg);
    background-position: center center;
    background-size: cover;
}

.menu:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    )
    ,url(img/postre.jpg);
    background-position: center center;
    background-size: cover;
}

.carta{
    background-color: rgb(30,30,30);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #about .container {
        display: flex;
        justify-content: space-evenly;
    }

    #about .image-container {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about h2 {
        margin-top: 0;
    }

    #nuestra-carta .carta {
        display: flex;
        justify-content: center;
    }

    #nuestra-carta .menu {
        display: block;
        margin-bottom: 30px;
    }

    #nuestra-carta h2 {
        font-size: 2.7em;
    }

    #nuestra-carta h3 {
        margin-top: 0;
    }

    #caracteristicas {
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container {
        text-align: center;
    }

    #caracteristicas ul {
        margin-left: 100px;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

/* Responsive styles for screens with minimum width 1200px */
@media (min-width: 1200px) {
    #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}